Update the gradient colors with your desired values
.carousel-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: linear-gradient(45deg, #8b5cf6, #ec4899);
    font-family: "Montserrat", sans-serif;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 23rem; /* Set the carousel size here */
    height: 23rem; /* Set the carousel size here */
    perspective: 500px;
    transform-style: preserve-3d;
    white-space: nowrap; /* Allow cards to be displayed in a single line */
    overflow: hidden; /* Hide overflowed cards */
  }
  
  .card-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(var(--offset) * 50deg))
      scaleY(calc(1 + var(--abs-offset) * -0.4))
      translateZ(calc(var(--abs-offset) * -30rem))
      translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--abs-offset) * 1rem));
    transition: all 0.3s ease-out;
    display: inline-block; /* Display cards in a horizontal line */
    white-space: normal; /* Allow text wrapping inside cards */
  }
  
  .card {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(280deg, 40%, calc(100% - var(--abs-offset) * 50%));
    border-radius: 1rem;
    color: #9ca3af; /* Use your desired color for the card text */
    text-align: justify;
    transition: all 0.3s ease-out;
  }
  
  .card h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.7em;
    color: #1f2937; /* Use your desired color for the card heading */
  }
  
  .card p,
  .card h2 {
    transition: all 0.3s ease-out;
    opacity: var(--active);
  }
  
  .nav {
    color: white;
    font-size: 5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
  }
  
  .nav.left {
    transform: translateX(-100%) translateY(-50%);
  }
  
  .nav.right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
  